## String methods in python
- Sequence of charecters are string

### Escaping charecters
- Backslashes(\) are used to escape characters in  a Python string.

In [1]:
text = "She said \"I am hungry.\"."
print(text)

She said "I am hungry.".

### The in syntax

In [2]:
footbal = 'Football is popular game'

print("l" in footbal)
print("c" in footbal)

True
False

### Indexing and Slicing
- syntax: string_variable_name[start: end] - formal
- syntax to logially understand: string_variable_name[start_index: end_index +1]

In [4]:
str_var = "Yellow"
str_var[0]

'Y'

In [5]:
str_var[2]

'l'

In [6]:
str_var[2:4]

'll'

In [7]:
str_var[:2]

'Ye'

In [9]:
str_var[-1]

'w'

In [10]:
str_var[-4:]

'llow'

### Iterate string

In [11]:
str = "Python"
for char in str:
    print(char)

P
y
t
h
o
n

### Built in function: len()

In [12]:
length = len("World")
print(length)

mylyst = ['I', 'am', 'hungry']
print(len(mylyst))

5
3

### String Concatenation

In [14]:
print("string" + " Concatenation")

st1 = "string"
st2 = " Concatenation"

st3 = st1 + st2

print(st3)

string Concatenation
string Concatenation

### Immutable string
- string is immutable in Python, means not changeable
- unlike list. list can be change in python

### Index Error

In [16]:
str4 = "math"
print(str4[6])

IndexError: string index out of range

### Python String: format()

In [18]:
msg1 = "His name is {}. He is {} years old."
msg1.format("Bishnu",60)

print("His name is {name}. He is {age} years old.".format(name = "Bishnu", age = 60))

His name is Bishnu. He is 60 years old.

## String Method: lower()
## String Method: upper()
## String Method: strip()

In [19]:
str1 = "world"
str1.upper()

'WORLD'

In [22]:
str1 = "...---+++   World   ====...+++"
str1.strip('.-+=')

'   World   '

In [25]:
stripped_str1 = str1.strip("-=+. ")
stripped_str1

'World'

### String Method: title()

In [26]:
my_str = 'python string'
print(my_str.title())

Python String

### String Method: split()
### String Method: find()
### String Method: replace()
### String Method: join()

In [27]:
str_var1 = "Study in abroad"
str_var1.split() # split the string by default " ", but it can be done by providing targeted char in the string

['Study', 'in', 'abroad']

In [28]:
str_var1.find("a") # return the charecter index found

9

In [29]:
str_var1.replace("a","A")

'Study in AbroAd'

In [33]:
my_name_list = ['Raju', 'Monoj', 'Russel', 'Subir', 'Mithu', 'Pankaj'] 
print(" ".join(my_name_list))
print("+".join(my_name_list))
print("-".join(my_name_list))

Raju Monoj Russel Subir Mithu Pankaj
Raju+Monoj+Russel+Subir+Mithu+Pankaj
Raju-Monoj-Russel-Subir-Mithu-Pankaj